*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(45deg, rgb(39, 5, 160), #fffde7);
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.calculator{
    position:relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(172, 104, 236);
    background-color: #181818;
}

#display{
    color: white;
    margin: 0 10px;
    height: 120px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 800;
}

button#clear{
    background-color: #630bf0;
    color: white
}
.btn-number{
    background-color: #d5f7ff;
    color: black;
}
.btn-operador{
    background-color: #ebc51d;
    color: black;
}
.btn-equal{
    background: rgb(235, 97, 6);
    color: black;
}

.theme-togler{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor:pointer;
    z-index: 1;
}
.theme-togler::before{
    content:"";
    height:30px;
    width:30px;
    top:50%;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}
.theme-togler .active{
    color: #333;
}

.theme-togler .active::before{
    background-color: #fff;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}
button:hover{
    transform: scale(1.1);
}
#equal{
    height: 130px;
}

.calculator .dark{
    background-color: #181818;
}